<div class="box box-link-hover-shadow">
  <div class="columns">
    <div class="column">
      <div class="card">
        <div class="container has-background-primary has-text-white">
          <h2 class="title">
            {{name}}
          </h2>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="container has-background-primary has-text-white">
          <h2 class="title">
            Weather
          </h2>
          {{weather}} <br> 
          <br> 
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="container has-background-primary has-text-white">
          <h2 class="title">
            Temp
          </h2>
            {{tempC}}°C
            <br>
            {{tempF}}°F <br>
            <br>
            <br>
            <br>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="container has-background-primary has-text-white">
          <h2 class="title">
            Wind
          </h2>
          {{windBft}} bft
          <br>
          {{windDirection}} <br>
          Feels like {{windChill}}°C <br>
          <br>
          <br>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="container has-background-primary has-text-white">
          <h2 class="title">
            Pressure
          </h2>
          {{pressure}} hpa
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>