<div class="box box-link-hover-shadow">
  <div class="columns">
    <div class="column">
      <div class="card">
        <div class="container has-background-primary has-text-white">
          <h2 class="title">
            {{name}} <br>
            {{>icons/location}}
          </h2>
          Lat: {{latitude}} <br>
          Lng: {{longitude}} <br>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="container has-background-primary has-text-white">
          <h2 class="title">
            Weather <br>
            {{#if clear}} {{>icons/clear}} {{/if}}
            {{#if cloudy}} {{>icons/cloudy}} {{/if}}
            {{#if partialClouds}} {{>icons/partial-clouds}} {{/if}}
            {{#if lightShowers}} {{>icons/light-showers}} {{/if}}
            {{#if heavyShowers}} {{>icons/heavy-showers}} {{/if}}
            {{#if rain}} {{>icons/rain}} {{/if}}
            {{#if snow}} {{>icons/snow}} {{/if}}
            {{#if thunder}} {{>icons/thunder}} {{/if}}
          </h2>
          {{weather}} <br> 
          <br> 
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="container has-background-primary has-text-white">
          <h2 class="title">
            Temp <br>
            {{>icons/temperature}}
          </h2>
            {{tempC}}°C
            <br>
            {{tempF}}°F <br>
            Max: {{maxTemp}}°C<br>
            Min: {{minTemp}}°C <br>
            <br>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="container has-background-primary has-text-white">
          <h2 class="title">
            Wind <br>
            {{>icons/wind}}
          </h2>
          {{windBft}} bft
          <br>
          {{windDirection}} <br>
          Feels like {{windChill}}°C <br>
          Max: {{maxWind}} bft<br>
          Min: {{minWind}} bft
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="container has-background-primary has-text-white">
          <h2 class="title">
            Pressure <br>
            {{>icons/pressure}}
          </h2>
          {{pressure}} hpa
          <br>
          Max: {{maxPressure}} hpa<br>
          Min: {{minPressure}} hpa<br>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>